MANIFEST
Makefile
Makefile.old
Build
Build.bat
.build/
_build/
cover_db/
blib/
.lwpcookies
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
CSS-Sass-*
CSS-Sass-*.tar.gz
lib/**/*.o
lib/**/*.c
lib/**/*.xs
lib/**/*.pod
lib/**/*/*.pod
lib/CSS/Sass.base
lib/CSS/Sass.def
lib/CSS/Sass.exp
lib/CSS/Sass.lds
.libsass.version
*~
/libsass.*
/MYMETA.*
/*.c
/*.o
/*.old
/*.bs
/*.def
/*.bac
/*.bak
/*.exp
/*.base
/*.scss
/*.sass
/*.css
/*.log
/*.gcda
/*.gcno

/.sass-cache