MANIFEST
Makefile
Makefile.old
Build
Build.bat
META.*
MYMETA.*
.build/
_build/
cover_db/
blib/
.lwpcookies
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
CSS-Sass-*
CSS-Sass-*.tar.gz
lib/**/*.o
lib/**/*.c
lib/**/*.xs
lib/**/*.pod
lib/**/*/*.pod
.libsass.version
*~
